/* Small Screen */
.container {
    margin: 1rem;
  }

.forms {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.forms__left {
    margin-bottom: 1rem;
  }

  
.forms__title {
    color: #4361ee;
    margin-bottom: 1rem;
    font-size: 2.44rem;
  }
.forms__button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #4361ee;
    color: #fff;
  }

.forms__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* Medium Screen */
@media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
  }
  
  /* Large Screen */
/* @media (min-width: 992px) {
.container {
    max-width: 1200px;
    margin: 3rem auto;
}

.forms {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
} */
    
label{
    font-size: 11pt;
}
    
.form__title{
    box-sizing : border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
    border-color: blue;
    border-radius: 10px;
}
    
.form__submit{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #4361ee;
    color: #fff;
}
    


/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .forms {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .forms__left {
    flex-basis: 60%;
  }

  .forms__right {
    flex-basis: 40%;
  }
}